*{
  font-family: "Arial", sans-serif;
  background-color: f7f7f7;
  align: center;

}

body {
  width: 90%;
  text-align: left;
}

h1 {
text-align: center;
background-color: black;
color: white;
padding-top: 2%;
}





aside {
  float: left;
  background-color: yellow;
  width: 19%;
  margin: 2%;
  padding:1%;
  background-color: D1D1D1;

}

.boxModel {
  background-color: D1D1D1;

}

aside .boxModel h2 {
  background-color: D1D1D1;

}

aside .boxModel p {
  background-color: D1D1D1;

}

aside .boxModel a {
  background-color: D1D1D1;

}

.container img {
  max-width: 80%;
  float: left;
}

.container {
  float: right;
  width: 75%;
}

.container img {
  max-width: 15%;
  float:left;
  padding-right: 3%;

}

header {
  text-align: center;
  background-color: white;
  color: black;
}

.returnhome img {
  max-width: 50px;
  float: left;
}
